@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);

body,input,select,textarea{
    font-family: "Work Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.65;
}
body{
    background: #ffffff;
    margin: 0;
    color: #444
}


#header{
    transition: background 1s ease-in-out,height 0.2s ease-in-out;
    -webkit-transition: background 1s ease-in-out,height 0.2s ease-in-out;
    -moz-transition: background 1s ease-in-out,height 0.2s ease-in-out;
    -ms-transition: background 1s ease-in-out,height 0.2s ease-in-out;
    -o-transition: background 1s ease-in-out,height 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(254,254,254,0.85);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 10001
}

#header.hide,#header.preview{
    transition: background 0.2s ease-in-out,height 1s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out,height 1s ease-in-out;
    -moz-transition: background 0.2s ease-in-out,height 1s ease-in-out;
    -ms-transition: background 0.2s ease-in-out,height 1s ease-in-out;
    -o-transition: background 0.2s ease-in-out,height 1s ease-in-out;
    background: none;
    height: 0;
}

#header .inner{
    transition: height 0.2s ease-in-out,width 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out,width 0.2s ease-in-out;
    -moz-transition: height 0.2s ease-in-out,width 0.2s ease-in-out;
    -ms-transition: height 0.2s ease-in-out,width 0.2s ease-in-out;
    -o-transition: height 0.2s ease-in-out,width 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e74c3c;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 35em;
    height: 35em;
    padding: 4em;
    text-align: center;
    box-shadow: 0 0 0 1em #FFF;
    cursor: default;
}

#header.hide .inner, #header.preview .inner{
    height: 6em;
    width: 6em;
    padding: 0.715em;
    /* padding: 2em; */
}

#header.hide .inner .content,
#header.preview .inner .content
{
    opacity: 0;
    display: none;
}

#header .inner .content{
    transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    opacity: 1;
}

#header .inner .content h1 {
    font-size: 4em;
    font-family: 'Pattaya', sans-serif;
    margin: 0 0 .25em 0;
    color: #fff;
}

#header .inner .content p {
    font-size: 1.5em;
    color: #fff;
    margin: 0 0 1em 0;
}

#header .inner .button {
    -moz-transition: background 1s ease-in-out;
    -webkit-transition: background 1s ease-in-out;
    -ms-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    margin: 0;
    border-radius: 30px;
}

input[type="submit"].big, input[type="reset"].big, input[type="button"].big, button.big, .button.big {
    font-size: 1.35em;
}

input[type="submit"].alt, input[type="reset"].alt, input[type="button"].alt, button.alt, .button.alt {
    background: #FFF;
    color: #e74c3c;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 2.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

#header .button.hidden{
    display: none;
}

#header.hide .button.hidden,
#header.preview .button.hidden{
    text-decoration: none;
    padding-top: 1.5em;
    padding-left: 0;
    padding-right: 0;
    background: none;
    display: inline-block;
}

#header.hide .button.hidden i{
    position: relative;
    top: 0.5em;
    font-size: 2.0em;
    color: #FFF;
}

#header .inner .button.hidden {
    cursor: pointer;
}

@media screen and (max-width: 736px){

    #header .inner{
        width: 17em;
        height: 17em;
        padding: 2em;
    }

    #header .inner .content h1 {
        font-size: 3.2em;
        font-family: 'Pattaya', sans-serif;
        margin: 0 0 .25em 0;
        color: #fff;
    }

    #header .inner .content p {
        font-size: 1.5em;
        color: #fff;
        margin: 0 0 1em 0;
    }

    #header .inner .button {
        width: 2.5em;
        height: 2.5em;
        line-height: 2.5em;
        text-align: center
    }
    
}

#main{
    padding: 2em;
}

.inner{
    max-width: 100%;
}

.columns{
    position: relative;
    column-count: 4;
    column-gap: 1em;
}

.columns .image{
    position: relative;
    display: inline-block;
    margin: 0 0 .5em;
    width: 100%;
    overflow: hidden;
}

.columns .image img {
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -ms-transition: -ms-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3D(0, 0, 0);
}

.columns .image:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.image.fit{
    display: block;
    /* margin: 0 0 2em 0; */
    width: 100%;
}

.image.fit img{
    width: 100%;
}

.image{
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 0;
}

@media screen and (max-width: 736px) {
    
    .columns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

}
    
@media screen and (max-width: 480px) {

    .columns {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

}

#footer.show{
    bottom: 0;
}

#footer{
    width: 100%;
    position: fixed;
    color: white;
    left: 0;
    bottom: -22em;
    transition:bottom 0.2s ease;
    -webkit-transition:bottom 0.2s ease;
    -moz-transition:bottom 0.2s ease;
    -ms-transition:bottom 0.2s ease;
    -o-transition:bottom 0.2s ease;
    text-align: center;
    z-index: 9999;
}

#footer h2{
    font-weight: 300;
}

#footer > a{
    content: '';
    display: inline-block;
    position: relative;
    width: 4em;
    height: 4em;
    top:2em;
    left: 48.5%;
    text-decoration: none;
    border-radius: 100%;
    cursor: pointer;
    text-align: center;
    background: #e74c3c
}

#footer > a > i{
    /* position: relative; */
    top: 0.5em;
    font-size: 1.5em;
    color: #FFF;
}

#footer > .inner{
    display: flex;
    position: relative;
    height: 20em;
    padding: 2em;
    justify-content: center;
    align-items: stretch;
    background: #e74c3c;
    z-index: 10003;
}

#footer .inner .left,#footer .inner .right{
    width: 50%;
    padding: 2em;
    text-align: left;
    font-size: 1.3em;
    display: inline-block;
}

.icon{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    vertical-align: middle;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.icon > li{
    display: inline-block;
    vertical-align: middle;
}

.icon > li+li{
    margin-left: 1em;
}

.icon > li > i{
    font-size: 1.8em;
}

.copyright{
    font-size: 0.9em;
}

@media screen and (max-width: 980px){

    #footer{
        position: relative;
        bottom: 0;
    }

    #footer > a{
        display: none;
    }

    #footer p{
        margin: 0;
    }

    #footer > .inner{
        display: block;
        height: auto;
    }

    #footer > .inner > .left,#footer > .inner > .right{
        /* display: block; */
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }
}