
/* 公共的类 */

.no-border-radius{
    border-radius: 0px
}

body{
    padding-top: 8rem;
    font-size: 62.5%;
    font-family: 'Catamaran', sans-serif;
    color: #666666;
}

@media screen and (max-width: 992px){
    body{
        padding-top: 4rem;
    }
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8rem;
    padding: 0px 5rem;
    line-height: 8rem;
    font-size: 2rem;
    z-index: 200;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    background-color: white;
}


#header > .logo{
    color: #f6755e;
    font-size: 5rem;
    font-weight: 600;
    font-family: 'Cedarville Cursive', cursive;
}

#header > .logo:hover{
    text-decoration: none
}

#header nav > a[href="#menu"]{
    text-decoration: none;
}

#header nav > a[href="#menu"]::before{
    content: "☰";
    font-size: 3rem;
    color: #eeeeee;
}

#header nav > a[href="menu"]:target{
    display: block;
}

#header nav > a[href="#login"]{
    width: 10rem;
    height: 4rem;
    line-height: 2.5rem;
}

@media screen and (max-width: 992px){
    #header{
        height: 4rem;
        line-height: 4rem;
    }

    #header > .logo{
        font-size: 2.6rem;
    }

    #header nav > a[href="#login"]{
        display: none;
    }

    #header nav > a[href="#menu"]::before{
        margin-left: -5rem;
    }
}

#menu{
    position: fixed;
    width: 20rem;
    height: 100%;
    top: 0;
    bottom: 0;
    left:-20rem;
    padding: 1.5rem 1.5rem 0 4rem;
    z-index: 500;
    text-align: left;
    font-size: 1.6rem;
    color: white;
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    background-color: #25a2c3;
}

.toggled #menu{
    left: 0;
}


#menu > .row > div{
    padding: 1.5rem 0;
}

#menu > .row > div+div{
    border-top: 1px solid rgba(255, 255, 255, 0.25);

}

#banner{
    /* max-height: 56rem; */
    padding:15rem 0 13rem 0;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center
}

#banner .content{
    -moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
    -ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
    transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
    opacity: 1;
}

.is-loading #banner .content{
    opacity: 0;
    -moz-transform: translateY(1rem);
    -webkit-transform: translateY(1rem);
    -ms-transform: translateY(1rem);
    transform: translateY(1rem);
}

#banner h1{
    font-size: 5rem;
    color: #25a2c3;
}

#banner p{
    margin: 3rem 0;
    font-size: 2.0rem;
}

#banner button{
    width: 20rem;
    height: 5rem;
    background-color: #f6755e;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    color: white;
    font-weight: bolder;
}

#banner button:hover{
    background-color: #f78a76;
}

@media screen and (max-width:992px){
    #banner{
        padding:10rem 0;
    }
    #banner h1{
        font-size: 4rem;
    }
}

@media screen and (max-width:768px){
    #banner{
        padding: 2rem 2rem;
    }
    #banner h1{
        font-size: 3rem;
    }
    #banner p{
        font-size: 1.8rem;
    }
    #banner button{
        width: 24rem;
        height: 5rem;
    }
}

@media screen and (max-width: 328px){
    #banner{
        padding: 2rem 2rem;
    }
    #banner h1{
        font-size: 2rem;
    }
    #banner p{
        font-size: 1.4rem;
    }
    #banner button{
        width: 15rem;
        height: 4rem;
    }
}

#one{
    width: 100%;
    min-height: 40rem;
    padding: 3rem 0;
    background-color: transparent
}

#one>.container>.row>div:nth-child(1){
    text-align: right
}
#one>.container>.row>div:nth-child(3){
    text-align: left
}

#one h3{
    font-size: 2rem;
    color: #25a2c3
}

#one p{
    font-size: 1.8rem;
}

#one .img-responsive{
    display: inline-block;
    border-radius: 50%;
}

#one > .container > .row > .col-md-4>div:nth-child(2){
    margin-top: 9.667rem;
}

@media screen and (max-width:1200px){
    #one > .container > .row > .col-md-4>div:nth-child(2){
        margin-top: 7.9452rem;
    }
    #one p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:992px){
    #one>.container>.row>div:nth-child(1),
    #one>.container>.row>div:nth-child(3){
        text-align: center
    }
    #one > .container > .row > .col-md-4>div:nth-child(2){
        margin-top: 0;
    }

    #one p{
        /* margin-bottom: 0; */
        /* white-space:nowrap;   */
    }
}

#two{
    display: table-cell;
    vertical-align: middle;
    width: 20000px;
    min-height: 30rem;
    padding: 5rem 0;
    color: white;
    background-color: #f6755e
}

#two > .container{
    /* display: inline-block !important; */
    vertical-align: middle;
}
#two > .container > p:nth-child(3){
    margin-top: 2rem;
    color: white;
    font-weight: 600
}

#two p{
    font-size: 1.8rem;
}

@media screen and (max-width: 992px){
    #two{
        padding: 2rem 0;
    }

    #two h2{
        font-size: 2.2rem;
    }

    #two p{
        font-size: 1.4rem;
    }
}

#three{
    width: 100%;
    min-height: 40rem;
    padding: 8rem 0;
    background-color: transparent
}

#three .img-responsive{
    width: 100%
}

#three h3{
    color:#25a2c3;
}

#three p{
    font-size: 2.0rem;
    color: #b3abab;
}

#three>.container>.row>div{
    text-align: left
}

@media screen and (max-width:1200px){
    #three h3{
        font-size: 2rem;
    }

    #three p{
        font-size: 1.5rem;
    }
}

@media screen and (max-width:992px){
    #three{
        padding: 4rem 0 2rem 0;
    }

    #three > .container > .row > div{
        margin-bottom: 2rem;
        text-align: center;
    }
}

@media screen and (max-width: 768px){
    #three{
        padding: 3rem 0 0 0;
    }
    #three > .container > .row > div{
        margin-bottom: 3rem;
    }
}

footer{
    display: table-cell;
    vertical-align: middle;
    width: 2000rem;
    min-height: 30rem;
    padding: 5rem 0;
    text-align: center;
    background-color: #25a2c3
}

footer h2{
    color: white;
}

footer > .container > .row > div{
    font-size: 1.6rem;
    color: white;
}

footer > .container > .row > div span{
    vertical-align: middle;
}

footer > .container > .copyright{
    display: inline-block;
    width: 50%;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 1.3rem;
}

@media screen and (max-width: 992px){
    footer > .container > .row > div:nth-child(3){
        display: inline-block;
    }
}